DATABASE_URL="postgresql://postgres:password@localhost:5432/my_database"

SUPABASE_PROJECT_ID="your_project_id"
SUPABASE_ANON_KEY="your_public_anon_key"

# 2000 -> landing page | 3000 -> main app (web)
CORS_ORIGINS="http://localhost:3000,http://localhost:2000"

PORT="4000"

NODE_ENV="development"